<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Library</title>
</head>
<body>
    
    {% for book in all_books %}

        Book: {{ book.title }} <br><br>
        Author: {{ book.author.name }} <br><br><br>
        
        <form action="/books/{{ book.id }}/delete" method="post">
        <input type="submit" value="Delete Book">
        </form>
    {% endfor %}


</body>
</html>